* {
	box-sizing: border-box;
	font-family: helvetica;
	margin: 10px;
	/*Box modeling*/
} 





h1{
    
    font-size: 0
    
    
}

.Letras2 {
     color: white;
}

.Letras1 {
 color: rgb(107, 3, 252);
}

.fondo1{
    background-color: lavender
}

.fondo2{
   background-color:  rgb(52, 152, 219 ); 
}

p {
    color: rgb(168, 119, 237);
    font-family: 'DM Sans', sans-serif;
    line-height: 2rem
}



a:hover{
    color: black;
    text-decoration: underline
}



h2 {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    animation-name: titulos;
    animation-duration: 2s;
    font-size: 3em
}


@keyframes titulos{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}